.wrapper {
    max-width: 70rem;
    margin: 2rem auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: 256px 1fr;
    gap: 2rem;
    align-items: flex-start;
}

@media (max-width: 768px) {
    /* Como foi utilizado unidade de rem nos elementos,
    podemos controlar o tamanho dos elementos com o
    font-size, utilizando % para quando o usuario
    aumentar ou diminuir a tela, tudo fique flexivel */
    html {
        font-size: 87.5%;
    }

    .wrapper {
        grid-template-columns: 1fr;
    }
}